
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.white{
  color: white;
}
.blue{
  color: rgb(104, 104, 228);
}

/* ESTILOS FORM */
.container {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #2b52bb 0%, #030957 100%);  
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh;   
}

.form {
  background-color: aliceblue;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  width: 30%;
  
}

.form h1 {
  margin-top: 0;
}

.form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

label {
  width: 100px; /* Establece el ancho fijo para las etiquetas */
  margin-right: 10px; /* Espacio entre la etiqueta y el campo de entrada */
}

input[type=email], [type=password], [type=text], select {
  flex: 1; /* El campo de entrada ocupará todo el espacio disponible */
  padding: 12px 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Estilos boton */
.button{
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px;
}

.button:hover{
transform: scale(1.05);
}

/* TICKERS */
.container2 {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #2b52bb 0%, #030957 100%);  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; 
}

.tickers-container{
  background-color: aliceblue;
  border-radius: 8px;
}

.tickers-container ul li{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
.tickers {
  background-color: aliceblue;
}

.button2{
  border: 1px solid black;
  border-radius: 8px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 2px;
}

.button2:hover{
transform: scale(1.01);
background-color: rgb(171, 250, 171);
}
.button3{
  border: 1px solid ; 
  border-radius: 8px;
  padding: 2px 9px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  margin-left: 10px;
  font-size: 15px;
}
.button3:hover{
transform: scale(1.01);
background-color: rgb(247, 149, 149);
}
/*Form tickers */
.input-small {
  padding: 10px 5px;
  margin: 3px; 
  border: 1px solid black;
  border-radius: 6px;
} 

/* BUTTON TRADE  */
.button4 {
  margin-top: 40px;
  border: 1px solid ; 
  border-radius: 8px;
  padding: 9px 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  font-size: 25px;
}
.button4:hover{
  transform: scale(1.01);
  background-color: rgb(171, 250, 171);
  }


